body {
    background-color: #2075D9;
}

.request-reservation-container .request-reservation-container-title {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}