/* 1rem = 16px */
/* default mobile and tablet */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    padding:1rem 1.4375rem;
    background-color: #2075D9;
}

.menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;  
    color: white;
    display: block;
}

.menu-toggle img {
    height: 2.5rem; 
    width: 2.5rem;  
}

.menu {
    display: none;
    flex-direction: column;
    gap: 0.25rem;
    background-color: #2075D9;
    position: absolute;
    top: 6.5rem;
    left: 0;
    width: 100%;
    padding:1.25rem;
    border-top: 1px solid #FFF;
    z-index: 999;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 0.625rem 0.625rem;
    display: block;
    font-size: 0.875rem;
}

.show {
    display: flex;
}

.logo img {
    height:4.5rem;
}



@media screen and (min-width: 48rem) {
    .menu {
        width:90%;
        display: flex;
        flex-direction: row;
        position: static; 
        border-top: none;
        padding: 0;
        gap: 0.625rem;
    }
    
    .menu-toggle {
        display: none; 
    }

    .menu a {
        padding: 0.3125rem 0.94rem;
        font-size: 1rem;
    }

    .logo img{
        height:5rem;
        width:5rem;
    }
    
}

/* desktop pc */
@media screen and (min-width: 64rem) {
    nav{
        width: 84%;
    }

    .menu-toggle {
        display: none;
    }

    .menu-toggle img {
        height: 3.5rem; 
        width: 3.5rem;  
    }

    .menu {
        display: flex;
        flex-direction: row;
        position: static;
        border-top: none;
        padding: 0;
        gap: 1.25rem;
    }

    .menu a {
        padding: 0.3125rem 0.9375rem; 
        font-size: 1.125rem; 
    }

    .logo img{
        height: 6rem;
        width:6rem;
    }

}





